button {
	display: block;
  margin:  20px auto;
	width: 400px;
	height: 100px;
	border-style: none;
	border-radius: 50px;
	background-color: yellow;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	transition-timing-function: linear;
	transition-duration : 2s;
}
button:hover {
   background-color: green ;
   transition-duration : 2s;
}
button:active {
   background-color: brown ;
   transition-duration : 2s;
}

.test2 {
	position: relative;
  height: 150px;
}
.rectangl {
  width: 300px;
  height: 100px;
  margin: 25px 0;
  border: solid 2px; 
  background-color: lightblue;
  position: absolute;
  left: -240px;
  transition-duration : 3s;
  transition-timing-function: ease-in-out;
}
.rectangl:hover {
  left: 0px;
}

.city {
	background-image: url(bg.jpg);
	height: 600px;
	width: 1000px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	overflow: hidden;
}
@keyframes drive {
  from {
    transform: translateX(0);
  }
  50%{
    transform: translateX(400px);
  }
  to {
    transform: translateX(800px);
  }
}

.car {
	background-image: url(auto.png);
	margin-top:450px;
	height: 150px;
	width: 200px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	animation-name: drive;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-direction:alternate;
  animation-delay: 2s;
  animation-iteration-count: 1.5;
  animation-fill-mode:forwards;
}

.car:hover {
	animation-play-state: paused;
}